/*!* You can add global styles to this file, and also import other style files *!*/
@font-face {
  font-family: 'Prompt-Bold';
  src: url("assets/fonts/Prompt-Bold.ttf");
}
@font-face {
  font-family: 'Prompt-Light';
  src: url("assets/fonts/Prompt-Light.ttf");
}
@font-face {
  font-family: 'Prompt-Medium';
  src: url("assets/fonts/Prompt-Medium.ttf");
}
.font-prompt-medium{
  font-family: prompt-medium;
}

.font-prompt-bold{
  font-family: prompt-bold;
}

.font-prompt-light{
  font-family: prompt-light;
}

.fsize16{
  font-size: 16px;
}
.fsize24{
  font-size: 24px;
}
